## WEB SCRAPING

#### Importing necessary libraries

In [1]:
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
import selenium
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException
import requests
from selenium.common.exceptions import TimeoutException
import warnings
warnings.filterwarnings('ignore')

### Q1- Scrape the details of most viewed videos on YouTube from Wikipedia.
#### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
##### You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [243]:
#command for open the automation window of browser

driver1 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")

In [244]:
#getting the wiki page
driver1.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [10]:
#creating list of rank , name, artist, upload date, views
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

#Rank

try:
    Ranks=driver1.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')[:30]
    for i in Ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
    
    
#NAME 
try:
    Name = driver1.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')[:30]
    for i in Name:
        name.append(i.text.split('[')[0][1:-1])
except NoSuchElementException :
    name.append('-')
    
    
#ARTISt
try:
    Artist = driver1.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')[:30]
    for i in Artist:
        artist.append(i.text)
except NoSuchElementException :
    video_uploader_name.append('-')
    
    

#VIEWS
try:
    Views = driver1.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')[:30]
    for i in Views:
        views.append(i.text)
except NoSuchElementException :
    views.append('-')
    
#upload date
try:
    date = driver1.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')[:30]
    for i in date:
        upload_date.append(i.text)
except NoSuchElementException :
    upload_date.append('-')

In [21]:
#creating dataframe
df= pd.DataFrame([])
df['Rank']= rank
df['Name']=name
df['Artist']=artist
df['Upload Date']=upload_date
df['Views in Billions']=views

In [22]:
df

,Rank,Name,Artist,Upload Date,Views in Billions
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.05
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.93
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.40
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.77
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.59
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.54
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.77
7,8.,Uptown Funk,Mark Ronson,"November 19, 2014",4.65
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.60
9,10.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.50
10,11.,Gangnam Style,Psy,"July 15, 2012",4.50
11,12.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",4.24
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.00
13,14.,Sugar,Maroon 5,"January 14, 2015",3.74
14,15.,Roar,Katy Perry,"September 5, 2013",3.63
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.62
16,17.,Sorry,Justin Bieber,"October 22, 2015",3.57
17,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.48
18,19.,Axel F,Crazy Frog,"June 16, 2009",3.45
19,20.,Dark Horse,Katy Perry,"February 20, 2014",3.32
20,21.,Girls Like You,Maroon 5,"May 31, 2018",3.32
21,22.,Faded,Alan Walker,"December 3, 2015",3.32
22,23.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.31
23,24.,Let Her Go,Passenger,"July 25, 2012",3.27
24,25.,Bailando,Enrique Iglesias,"April 11, 2014",3.25
25,26.,Lean On,Major Lazer,"March 22, 2015",3.24
26,27.,Perfect,Ed Sheeran,"November 9, 2017",3.22
27,28.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.21
28,29.,Shake It Off,Taylor Swift,"August 18, 2014",3.19
29,30.,Mi Gente,J Balvin,"June 29, 2017",3.11

In [24]:
driver1.close()

### Q2- Scrape the details team India’s international fixtures from bcci.tv.
#### Url = https://www.bcci.tv/
##### You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
##### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [61]:
#command for open the automation window of browser

driver = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")
time.sleep(2)

In [62]:
#getting the bcci page

url= "https://www.bcci.tv/"
driver.get(url)

In [63]:
international_fixture= driver.find_element_by_xpath('html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international_fixture.click()

In [99]:
match_title=[]
try:
    match = driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in match:
        match_title.append(i.text)
except NoSuchElementException :
    match_title.append('-')


place=[]
try:
    Place = driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]') 
    for i in Place:
        place.append(i.text)
except NoSuchElementException:
    place.append('-')
    

Series=[]
try:
    series= driver.find_elements_by_xpath('//span[@class="ng-binding"]')
    for i in series:
        Series.append(i.text)
except NoSuchElementException :
    Series.append('-')
    
    
Date=[]
try:
    date=driver.find_elements_by_xpath('//div[@class="match-card-left match-schedule"]')
    for i in date:
        Date.append(i.text)
except NoSuchElementException :
    Date.append('-')
    
Time=[]
try:
    time=driver.find_elements_by_xpath('//div[@class="match-card-right match-schedule"]')
    for i in time:
        Time.append(i.text)
except NoSuchElementException :
    Time.append('-')

In [103]:
#creating the dictionary of the elements
dict= {
    'Date':Date,'Match': match_title,'Series':Series,'Match Location':place,
    }
#table creating with creating a DataFrame
table = pd.DataFrame(dict)

In [106]:
table

,Date,Match,Series,Match Location
0,18 AUG 2022,1st ODI -,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club,"
1,20 AUG 2022,2nd ODI -,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club,"
2,22 AUG 2022,3rd ODI -,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club,"
3,28 AUG 2022,1st T20I -,ASIA CUP 2022,"Dubai International Cricket Stadium,"
4,31 AUG 2022,2nd T20I -,ASIA CUP 2022,"Dubai International Cricket Stadium,"
5,20 SEP 2022,1st T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,"
6,23 SEP 2022,2nd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium,"
7,25 SEP 2022,3rd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Rajiv Gandhi International Stadium,"

### Q3- Scrape the details of selenium exception from guru99.com.
#### Url = https://www.guru99.com/
##### You need to find following details:
A) Name
B) Description
###### Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [113]:
#command for open the automation window of browser
driver = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")

#getting the guru99 page
Url = "https://www.guru99.com/"
driver.get(Url)

#getting web element and clicking.
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [114]:
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [123]:
#Creating empty list.
Name=[]
Description=[]
#Creating for loop to scrape data.
name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for a in name:
    Name.append(a.text)
    

description= driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for b in description:
    Description.append(b.text)

In [125]:
len(Name)

41

In [126]:
#creating the dictionary of the elements
dict= {'Name': Name, 'Description':Description}
df = pd.DataFrame(dict)
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [127]:
driver.close()

### Q4- Scrape the details of State-wise GDP of India from statisticstime.com.
#### Url = http://statisticstimes.com/
###### You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
##### Note: - From statisticstimes home page you have to reach to economy page through code

In [165]:
#command for open the automation window of browser
driver = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")

#getting the page
Url = "http://statisticstimes.com/"
driver.get(Url)

In [167]:
#getting the economy page of india

economy=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
economy.click()
india=driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
india.click()

#getting gdp of indian states
gdp= driver.find_element_by_xpath('//html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [171]:
#extracting the rank data
Rank=[]
try:
    rank = driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
    for i in rank :
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

#getting the state data
State=[]
try:
    state=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')

    
#getting gsdp(19-20) data
GSDP=[]
try:
    gsdp=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[3]')
    for i in gsdp:
        GSDP.append(i.text)
except NoSuchElementException:
    GSDP.append('-')
    
    
#extracting gsdp(18-19) data  
GSdp=[]
try:
    gsdp_18= driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[4]')
    for i in gsdp_18:
        GSdp.append(i.text)
except NoSuchElementException:
    GSdp.append('-')
    

#extracting share (18-19) data
Share= []
try:
    share= driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')
    
    
#extracting the gdp(billion)
GDP=[]
try:
    gdp= driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

In [172]:
#creating the dictionary of the elements
dict= {'Rank': Rank, 'State':State, 'GSDP (19-20)': GSDP, 'GSDP (18-19)': GSdp, 'Share': Share, 'GDP ($billion)': GDP }
df = pd.DataFrame(dict)
df

,Rank,State,GSDP (19-20),GSDP (18-19),Share,GDP ($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [173]:
driver.close()

### Q5- Scrape the details of trending repositories on Github.com.
#### Url = https://github.com/
##### You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
###### Note: - From the home page you have to click on the trending option from Explore menu through code.

In [174]:
#command for open the automation window of browser
driver = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")

#getting the page
Url = "https://github.com/"
driver.get(Url)

In [177]:
#the trending option from Explore menu
trending= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trending.click()

In [182]:
#extract the data of Repository title 
Repository_title= []
try:
    title= driver.find_elements_by_xpath('//article[@class="Box-row"]/h1/a')
    for i in title:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('_')
    
    
#extracting Repository description
Repository_description=[]
try:
    desr= driver.find_elements_by_xpath('//article[@class="Box-row"]/p')
    for i in desr:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')
    

#extracting Contributors count
Contributors_count=[]
try:
    count=driver.find_elements_by_xpath('//article[@class="Box-row"]/div/span[2]')
    for i in count:
        Contributors_count.append(i.text)
except NoSuchElementException:
    Contributors_count.append('-')
    

#extracting data of language used
Language_used=[]
try:
    lang= driver.find_elements_by_xpath('//article[@class="Box-row"]/div[2]/span/span[2]')
    for i in lang:
        Language_used.append(i.text)
except NoSuchElementException:
    Language_used.append('-')

In [189]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 24 25 21

In [190]:
#creating the dictionary of the elements
dict= {'Repository Title':Repository_title[0:21],'Repository Description':Repository_description[0:21],
       'Contributors Count':Contributors_count[0:21], 'Language Used':Language_used[0:21]
       }
df = pd.DataFrame(dict)
df

,Repository Title,Repository Description,Contributors Count,Language Used
0,toeverything / AFFiNE,There can be more than Notion and Miro. Affine...,Built by,TypeScript
1,jwasham / coding-interview-university,A complete computer science study plan to beco...,353 stars today,JavaScript
2,iptv-org / iptv,Collection of publicly available IPTV channels...,Built by,C
3,ventoy / Ventoy,A new bootable USB solution.,Built by,C++
4,MarlinFirmware / Marlin,Marlin is an optimized firmware for RepRap 3D ...,Built by,Go
5,Dreamacro / clash,A rule-based tunnel in Go.,Built by,Python
6,arthurspk / guiadevbrasil,GUIA EXTENSO DE PROGRAMAÇÃO:,73 stars today,Python
7,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,Built by,TypeScript
8,MatrixTM / MHDDoS,"Best DDoS Attack Script Python3, (Cyber / DDos...",Built by,Python
9,t3-oss / create-t3-app,Quickest way to start a new web app with full ...,Built by,CSS
10,punk-security / dnsReaper,dnsReaper - subdomain takeover tool for attack...,Built by,Python
11,juliocesarfort / public-pentesting-reports,Curated list of public penetration test report...,Built by,Swift
12,facebookresearch / ParlAI,A framework for training and evaluating AI mod...,Built by,JavaScript
13,utmapp / UTM,Virtual machines for iOS and macOS,Built by,JavaScript
14,theboy181 / switch-ptchtxt-mods,30 Days of React challenge is a step by step g...,26 stars today,Python
15,Asabeneh / 30-Days-Of-React,The open-source repo for docs.github.com,Built by,HTML
16,github / docs,A curated list of awesome Machine Learning fra...,Built by,Python
17,josephmisiti / awesome-machine-learning,计算机自学指南,Built by,HTML
18,PKUFlyingPig / cs-self-learning,Create Disco Diffusion artworks in one line,Built by,Jupyter Notebook
19,jina-ai / discoart,Gather and update all available and newest CVE...,Built by,C++
20,trickest / cve,Notes about courses Dive into Deep Learning by...,Built by,Python

### Q6. Scrape the details of top 100 songs on billiboard.com.
#### Url = https:/www.billboard.com/
##### You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
###### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [246]:
#command for open the automation window of browser
driver = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")

#getting the page
Url = " https:/www.billboard.com/"
driver.get(Url)

In [247]:
#the hot 100 from charts section
hot_100= driver.find_element_by_xpath('/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a')
hot_100.click()

In [273]:
#extracting the song name 
Song_details=[]
Song_name=[]
Song_Artist=[]
Song_Last_rank=[]
Song_Peak_rank=[]
Song_Weeks_on_board=[]
try:
    song= driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul[1]')
    for i in song:
        Song_name.append(i.text.split('\n')[0])
        Song_Artist.append(i.text.split('\n')[1])
        Song_Last_rank.append(i.text.split('\n')[2])
        Song_Peak_rank.append(i.text.split('\n')[3])
        Song_Weeks_on_board.append(i.text.split('\n')[4])
        
except NoSuchElementException:
    print("Unable to fetch details")

In [272]:
#creating the dictionary of the elements
dict= {'Name':Song_name,'Artist Name': Song_Artist, 'Last Week Rank': Song_Last_rank, 'Peak Rank' : Song_Peak_rank, 'Weeks On Board': Song_Weeks_on_board }
df = pd.DataFrame(dict)
df

,Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Break My Soul,Beyonce,6,1,7
1,About Damn Time,Lizzo,1,1,16
2,As It Was,Harry Styles,2,1,18
3,Running Up That Hill (A Deal With God),Kate Bush,3,3,30
4,Wait For U,Future Featuring Drake & Tems,5,1,14
...,...,...,...,...,...
95,Until I Found You,Stephen Sanchez,88,88,5
96,Un Ratito,Bad Bunny,93,16,13
97,Best Thing Since Backroads,Jake Owen,72,72,4
98,La Corriente,Bad Bunny & Tony Dize,100,32,10
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,98,98,2

In [275]:
driver.close()

### Q7-Scrape the details of Data science recruiters from naukri.com.
#### Url = https://www.naukri.com/hr-recruiters-consultants
##### You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
###### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [276]:
#command for open the automation window of browser
driver = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")

#getting the page
Url = "https://www.naukri.com/hr-recruiters-consultants"
driver.get(Url)

In [277]:
# Let's navigate to the search bar and Type Data Science in the search bar and click search
search_field_designation=driver.find_element_by_xpath("//input[@class='sugInp']")
search_field_designation.send_keys("Data Science")
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [294]:
#extracting name
Name=[]
name= driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')

for i in name:
    Name.append(i.text)
#print(Name)

#extracting designation name
Designation=[]
designation= driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)
#print(Designation)

#extracting company name
Company=[]
company= driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)
#print(Company)

#extracting req skills
Skills=[]
skill=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skills.append(i.text)
#print(Skills)


#extracting location
Location=[]
location=driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in location:
    Location.append(i.text)
#print(Location)

In [296]:
print(len(Name),len(Designation),len(Company),len(Skills),len(Location))

50 50 50 50 48

In [298]:
#creating the dictionary of the elements
dict= {'Name': Name[:48], 'Designation': Designation[:48], 'Company':Company[:48], 'Skills':Skills[:48] ,
       'Location':Location[:48] }
df = pd.DataFrame(dict)
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Ghaziabad

In [299]:
driver.close()

### Q8. Scrape the details of Highest selling novels.
#### URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
##### You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [300]:
#command for open the automation window of browser
driver = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")

#getting the page
Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(Url)

In [382]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]
try:
    Books=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr')
    for i in range(0,99):
        Book_name.append(Books[0].find_elements_by_xpath('//td[2]')[i].text)
        Author_name.append(Books[0].find_elements_by_xpath('//td[3]')[i].text)
        Volumes_sold.append(Books[0].find_elements_by_xpath('//td[4]')[i].text)
        Publisher.append(Books[0].find_elements_by_xpath('//td[5]')[i].text)
        Genre.append(Books[0].find_elements_by_xpath('//td[6]')[i].text)
        
except NoSuchElementException:
    print("Unable to fetch details")
    
# print(Book_name)
# print(Author_name)
# print(Volumes_sold)
# print(Publisher)
# print(Genre)

In [381]:
#creating the dictionary of the elements
dict= {'Book Name':Book_name,'Author name': Author_name, 'Volumes_sold': Volumes_sold, 'Publisher' : Publisher,
       'Genre':Genre }
df = pd.DataFrame(dict)
df

,Book Name,Author name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
94,Nights of Rain and Stars,"Binchy, Maeve","808,900",Orion,General & Literary Fiction
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General

In [383]:
driver.close()

### Q9. Scrape the details most watched tv series of all time from imdb.com.
#### Url = https://www.imdb.com/list/ls095964455/
##### You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [240]:
#command for open the automation window of browser
driver = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")


# Let's open the URL
driver.get('https://www.imdb.com/list/ls095964455/')
driver.implicitly_wait(3)

# Let's create an empty lists to store the scraping data
Name=[]
Year_Span=[] 
Genre=[] 
Run_Time=[] 
Ratings=[] 
Votes=[]

try:
    name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
except NoSuchElementException:
    print("Name element N/a")

for i in name:
    Name.append(i.text)
try:
    year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
except NoSuchElementException:
    print("Year span element N/a")

for i in year:
    Year_Span.append(i.text)
try:
    gen = driver.find_elements_by_xpath('//span[@class="genre"]')
except NoSuchElementException:
    print("Genre element N/a")

for i in gen:
    Genre.append(i.text)
try:
    runtime = driver.find_elements_by_xpath('//span[@class="runtime"]')
except NoSuchElementException:
    print("Runtime element N/a")

    
for i in runtime:
    Run_Time.append(i.text)
try:
    ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
except NoSuchElementException:
    print("Rating element N/a")

for i in ratings:
    Ratings.append(i.text)
try:
    vote = driver.find_elements_by_xpath('//span[@name="nv"]')
except NoSuchElementException:
    print("Vote element N/a")

for i in vote:
    Votes.append(i.text)

In [241]:
#creating the dictionary of the elements
dict= {'Name':Name , 'Year Span' : Year_Span, 'Genre': Genre, 'Run Time': Run_Time, 'Ratings': Ratings, 'Votes': Votes }
df = pd.DataFrame(dict)
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,021,439"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,117,916"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"959,795"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"286,933"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"246,532"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,268"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,164"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"193,414"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,808"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"233,383"

### Q10. Details of Datasets from UCI machine learning repositories.
#### Url = https://archive.ics.uci.edu/
##### You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
###### Note: - from the home page you have to go to the ShowAllDataset page through code.

In [238]:
#command for open the automation window of browser
driver = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")

#Let's open the URL
driver.get('https://archive.ics.uci.edu/')
driver.implicitly_wait(3)

#Let's navigate to view all dataset

try:
    dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")
    driver.get(dataset.get_attribute('href'))
except NoSuchElementException:
    print("Span class normal not avlbl")
    
    
#Let's create an empty lists to store the scraping data

Dataset_Name=[] 
Data_Type=[]
Task=[] 
Attribute_Type=[] 
No_of_Instances=[] 
No_of_Attribute=[] 
Year=[]


try:
    name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
except NoSuchElementException:
    print("Name element N/a")
for i in name:
    Dataset_Name.append(i.text)


try:
    names = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
except NoSuchElementException:
    print("Names element N/a")
for i in names:
    Dataset_Name.append(i.text)
    
    
try:
    datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
except NoSuchElementException:
    print("Data Type element N/a")
for i in datatype:
    Data_Type.append(i.text)
    

try:
    task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
except NoSuchElementException:
    print("Task element N/a")
for i in task:
    Task.append(i.text)
    

try:    
    att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
except NoSuchElementException:
    print("Attribute element N/a")
for i in att:
    Attribute_Type.append(i.text)
    

try:    
    ins = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
except NoSuchElementException:
    print("Instances element N/a")
for i in ins:
    No_of_Instances.append(i.text)
    

try:    
    no_of_att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
except NoSuchElementException:
    print("Attribute element N/a")
for i in no_of_att:
    No_of_Attribute.append(i.text)
    
    
try:
    year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
except NoSuchElementException:
    print("Year element N/a")
for i in year:
    Year.append(i.text)

    
try:
    datatype = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
except NoSuchElementException:
    print("Datatype element N/a")
for i in datatype:
    Data_Type.append(i.text)

    
try:
    tsk = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
except NoSuchElementException:
    print("Task element N/a")
for i in tsk:
    Task.append(i.text)
    
    
try:
    attr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
except NoSuchElementException:
    print("Attribute element N/a")
for i in attr:
    Attribute_Type.append(i.text)
    
    
try:
    noi = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
except NoSuchElementException:
    print("Instance element N/a")
for i in noi:
    No_of_Instances.append(i.text)
    
    
try:
    noa = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
except NoSuchElementException:
    print("Number of Attribute element N/a")
for i in noa:
    No_of_Attribute.append(i.text)
    
    
try:
    yr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
except NoSuchElementException:
    print("Year element N/a")
for i in yr:
    Year.append(i.text)

In [239]:
#creating the dictionary of the elements
dict= {'Dataset Name': Dataset_Name, 'Data Type':Data_Type, 'Task' : Task, 'Attribute Type': Attribute_Type, 
      'No of Instances': No_of_Instances ,'No of Attribute': No_of_Attribute, 'Year': Year
      }
df = pd.DataFrame(dict)
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
307,Image Recognition Task Execution Times in Mobi...,"Univariate, Sequential, Time-Series",Regression,Real,4000,2,2020
308,REJAFADA,Multivariate,Classification,Integer,1996,6826,2020
309,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
310,Maternal Health Risk Data Set,,Classification,,1014,7,2020
311,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021