### Web scraping with Selenium

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [106]:
#importing all the neccessary libs
import pandas  as pd
import numpy  as np
import selenium
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [30]:
#command for open the automation window of browser 
driver1 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")
time.sleep(2)

In [31]:
#now the automation page is opened now , we are opening the required website page in it 
driver1.get('https://www.naukri.com/')

In [32]:
#now checking for the position which is required to search here ex-data anlyst

search_feild_designation= driver1.find_element_by_class_name('suggestor-input')
search_feild_designation.send_keys('Data Analyst')

In [34]:
#now we will be checking the next area which by location ex-bangolore 

search_feild_loc= driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_feild_loc.send_keys('Bangalore')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input"}
  (Session info: chrome=103.0.5060.134)
Stacktrace:
Backtrace:
	Ordinal0 [0x00576463+2188387]
	Ordinal0 [0x0050E461+1762401]
	Ordinal0 [0x00423D78+802168]
	Ordinal0 [0x00451880+989312]
	Ordinal0 [0x00451B1B+989979]
	Ordinal0 [0x0047E912+1173778]
	Ordinal0 [0x0046C824+1099812]
	Ordinal0 [0x0047CC22+1166370]
	Ordinal0 [0x0046C5F6+1099254]
	Ordinal0 [0x00446BE0+945120]
	Ordinal0 [0x00447AD6+948950]
	GetHandleVerifier [0x008171F2+2712546]
	GetHandleVerifier [0x0080886D+2652765]
	GetHandleVerifier [0x0060002A+520730]
	GetHandleVerifier [0x005FEE06+516086]
	Ordinal0 [0x0051468B+1787531]
	Ordinal0 [0x00518E88+1805960]
	Ordinal0 [0x00518F75+1806197]
	Ordinal0 [0x00521DF1+1842673]
	BaseThreadInitThunk [0x75E36739+25]
	RtlGetFullPathName_UEx [0x77608FEF+1215]
	RtlGetFullPathName_UEx [0x77608FBD+1165]

In [35]:
#now we will find the element for the search button,to click and search for the desired results 

search_button= driver1.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div[2]/div[3]/div/div/div[6]"}
  (Session info: chrome=103.0.5060.134)
Stacktrace:
Backtrace:
	Ordinal0 [0x00576463+2188387]
	Ordinal0 [0x0050E461+1762401]
	Ordinal0 [0x00423D78+802168]
	Ordinal0 [0x00451880+989312]
	Ordinal0 [0x00451B1B+989979]
	Ordinal0 [0x0047E912+1173778]
	Ordinal0 [0x0046C824+1099812]
	Ordinal0 [0x0047CC22+1166370]
	Ordinal0 [0x0046C5F6+1099254]
	Ordinal0 [0x00446BE0+945120]
	Ordinal0 [0x00447AD6+948950]
	GetHandleVerifier [0x008171F2+2712546]
	GetHandleVerifier [0x0080886D+2652765]
	GetHandleVerifier [0x0060002A+520730]
	GetHandleVerifier [0x005FEE06+516086]
	Ordinal0 [0x0051468B+1787531]
	Ordinal0 [0x00518E88+1805960]
	Ordinal0 [0x00518F75+1806197]
	Ordinal0 [0x00521DF1+1842673]
	BaseThreadInitThunk [0x75E36739+25]
	RtlGetFullPathName_UEx [0x77608FEF+1215]
	RtlGetFullPathName_UEx [0x77608FBD+1165]

In [36]:
job_title=[]

title_tags=driver1.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags[0:10]

#now we have got all the 10 jobtitles un the raw format

[<selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="0f1846c8-e7af-4bd6-a5c3-2065be35ba71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="845de0c8-8293-4db2-b107-2ce50f4eb8b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="362fee1c-7c4a-4f44-91a2-3e68c04caeb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="4b69dcd4-f6ae-40b6-b121-559dcaf621d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="c280bac2-d006-4cf9-89fc-16979401cae8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="a304967b-3615-4f45-a635-d7953b8c6d1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="234c3f93-e099-4479-baf3-a579b952ca08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="97985fe9-8763-42ba-8ceb-a362a2ad9c72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="9ea79c3f-b905-4da3-999b-6aa1c749a6bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="cfb53957-e769-4305-adb1-580e60d17bd5")>]

In [37]:
# printing the 10 job titles in the text format 
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Data Analyst',
 'Business Data Analyst',
 'Senior Data Analyst',
 'Urgent job opening For Manager/ Assistant Manager - Data Analyst',
 'Lead Data Analyst',
 'Lead Data Analyst',
 'Data Analyst - CRM Platform',
 'Data Analyst',
 'Hiring For Data Analyst (DA)/ Team Lead (TL) -Clinical Data management',
 'Call For Clinical Data Analyst - Hyd/Bangalore/Pune/Mumbai/Kolkata']

In [38]:
#  now we will be scraping the job location 
job_loc=[]
loc_tag= driver1.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
loc_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="dc332df3-7677-4cf8-847d-877ed8937ab0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="781cfe29-9f5e-4d6d-9d62-a47091420f56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="dfd86bc7-58d0-4fe3-bcb0-48a7a90b62e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="b11b2489-b945-4118-b9e6-747078095d6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="e03f30b7-07f8-418c-990a-fcdfee850613")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="46030592-7dab-4b08-9d43-61a1e2d898d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="7074b98b-a1dc-45a6-a6f0-a46b389bd56c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="d00cbb3d-2653-412d-a578-43698b6a477c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="3e5aa865-5e10-4e4c-9fe7-6f0f0284e5db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="bd26c47d-5f10-4ffd-862a-db8598548635")>]

In [39]:
# now printing the 10 job locations here in text
for i in loc_tag:
    loc=i.text
    job_loc.append(loc)
job_loc[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Mumbai (All Areas)']

In [40]:
#now printing all the 10 comapany names
work_co=[]
company_tag = driver1.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="eef2f955-b781-4a13-8b87-61974b9ef4c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="cf591f04-5059-4f35-9325-6d0c4b8115db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="e6ad5f0e-92b2-44a7-9e0c-7717bec17ba9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="3eaee9bf-e834-4711-802a-059ec943b19e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="28316e92-8875-463a-9a9a-6c1dd4e51df3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="b3a9c3fb-0b68-4062-93a7-f89e24d98d9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="1af82885-2dcf-4a10-ba16-d6b13f3a11de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="2f5e9511-1b60-48ff-952f-44cab047a273")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="a9fe8fd4-9c97-4db8-a335-24398c0b6a16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="cc06cae9-1dee-4041-a5e6-c9a6ce9975c1")>]

In [41]:
#now converting them to text formats
for i  in  company_tag:
    company=i.text.strip('[]')
    work_co.append(company)
work_co[0:10]

['Blinkit',
 'Sterlite Technologies',
 'Silicon Valley Bank',
 'Ashirvad Pipes',
 'Blinkit',
 'Nike India',
 'Artech infosystem',
 'Qualcomm Technologies, Inc',
 'Cognizant',
 'Cognizant']

In [42]:
#now we will scarping all the1st 10 experiences of all the comapnies 
exp_title=[]

exp_tag = driver1.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="2326fba5-637e-4a4c-b2b3-fd616201a357")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="de76a814-ab06-4e1d-8e54-2351df99ba92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="0794f7f3-4e0f-420d-8cd5-1aee04e3f25d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="925d6fde-7819-4702-baa2-ab2389ebd116")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="cb91f2fa-f930-46dc-b2e6-e7654c91095a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="610cf737-2b6c-4e3a-94ad-97fc406c2c62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="f2fe5626-7662-4150-9405-2871aaadad83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="ddeae0d3-8e72-4deb-ba0c-78fc93cc34b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="faeb4613-af0c-4a5b-8605-ed0d7236063d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="654534258d06d85fd525c657ff2678df", element="3f429dc8-67b1-4ef4-8581-1db5c768ecbc")>]

In [43]:
# now we will converting the fetched items as text format 
for i in exp_tag:
    exps=i.text
    exp_title.append(exps)
exp_title[0:10]

['0-2 Yrs',
 '5-10 Yrs',
 '6-10 Yrs',
 '8-13 Yrs',
 '1-4 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '6-9 Yrs']

In [44]:
naukri_data = pd.DataFrame({})
naukri_data['Job_titles']=job_title
naukri_data['job_location']=job_loc
naukri_data['company names']=work_co
naukri_data['experiences']=exp_title
naukri_data[0:10]

,Job_titles,job_location,company names,experiences
0,Data Analyst,Bangalore/Bengaluru,Blinkit,0-2 Yrs
1,Business Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Sterlite Technologies,5-10 Yrs
2,Senior Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Silicon Valley Bank,6-10 Yrs
3,Urgent job opening For Manager/ Assistant Mana...,Bangalore/Bengaluru,Ashirvad Pipes,8-13 Yrs
4,Lead Data Analyst,Bangalore/Bengaluru,Blinkit,1-4 Yrs
5,Lead Data Analyst,Bangalore/Bengaluru,Nike India,1-6 Yrs
6,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Artech infosystem,1-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,"Qualcomm Technologies, Inc",2-5 Yrs
8,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
9,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [118]:
#command for open the automation window of browser 
driver2 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")
time.sleep(2)

In [119]:
#opening the required website page in it 
driver2.get('https://www.naukri.com/')

In [120]:
#now checking for the position which is required to search here ex-data anlyst

search_feild_designation= driver2.find_element_by_class_name('suggestor-input')
search_feild_designation.send_keys('Data Scientist')

In [116]:
#now we will be checking the next area which by location ex-bangolore 

search_feild_loc= driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_feild_loc.send_keys('Bangalore')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input"}
  (Session info: chrome=103.0.5060.134)
Stacktrace:
Backtrace:
	Ordinal0 [0x00576463+2188387]
	Ordinal0 [0x0050E461+1762401]
	Ordinal0 [0x00423D78+802168]
	Ordinal0 [0x00451880+989312]
	Ordinal0 [0x00451B1B+989979]
	Ordinal0 [0x0047E912+1173778]
	Ordinal0 [0x0046C824+1099812]
	Ordinal0 [0x0047CC22+1166370]
	Ordinal0 [0x0046C5F6+1099254]
	Ordinal0 [0x00446BE0+945120]
	Ordinal0 [0x00447AD6+948950]
	GetHandleVerifier [0x008171F2+2712546]
	GetHandleVerifier [0x0080886D+2652765]
	GetHandleVerifier [0x0060002A+520730]
	GetHandleVerifier [0x005FEE06+516086]
	Ordinal0 [0x0051468B+1787531]
	Ordinal0 [0x00518E88+1805960]
	Ordinal0 [0x00518F75+1806197]
	Ordinal0 [0x00521DF1+1842673]
	BaseThreadInitThunk [0x75E36739+25]
	RtlGetFullPathName_UEx [0x77608FEF+1215]
	RtlGetFullPathName_UEx [0x77608FBD+1165]

In [121]:
#now we will find the element for the search button, to click and search for the desired results 

search_button= driver2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

now we have connected with the required page to scrape the data

In [122]:
#Scraping the company names 
co_names=[]

comp2_tag= driver2.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
comp2_tag[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="314d3097-38bb-465a-aeb9-f6c6509c0dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="14832b77-9826-46a4-af4f-08bcc816fddd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="505bd44c-f060-4b23-a3ab-52310bd767db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="194fb235-5b6f-4fe4-b3f9-dd8ecbbc4d19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="9198ec20-9a8c-43c7-96ec-1bd2e2d3f544")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="853c9bea-5f33-4948-9fb2-e57c85ee35d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="78b68c22-719f-4fdd-b733-920ab2ee5975")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="8609c2aa-10a4-4a8f-8c43-972918d0f086")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="6db719e1-4a00-4308-ae58-0e871a1170d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="3d76f3df-6f4c-45ca-bdde-eba17aac4b4e")>]

In [123]:
#now converting the names to ,text
for i in  comp2_tag:
    comp=i.text
    co_names.append(comp)
co_names[0:10]

['Accenture',
 'Wipro',
 'Wipro',
 'TATA CONSULTANCY SERVICES (TCS)',
 'Accenture',
 'NTT DATA Business Solutions Private Limited',
 'Wipro',
 'HERE Technologies',
 'SMARTPADDLE TECHNOLOGY PVT. LTD.',
 'Schneider Electric']

In [124]:
#scraping the ,all 10 job-titles
job_title2=[]

title_tag2= driver2.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tag2[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="1490dabb-78d7-4330-a34f-398c7dfbcb38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="b4e67e60-b15a-4568-9676-61ce53ebd7cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="4a384a88-1e18-4237-b220-8ec290bf3f63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="e64d30eb-8eb3-48f4-be48-f0930fb4b318")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="0d36127b-1a85-41da-8997-af283c779f34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="3d5ce9f7-9ad0-4002-80cb-9a8b090b1699")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="39d2d1b1-30a0-4d73-88fc-05a27ad61a6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="e0b8497b-8a1c-4eda-96eb-4c203bc57b52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="53a8d5d6-123b-4910-a456-8bb7bbd9f018")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="2ce7a710-5244-493a-bc12-c5373e321815")>]

In [125]:
#now converting all the job titles to text
for i in title_tag2:
    titles=i.text
    job_title2.append(titles)
job_title2[0:10]

['Analystics & Modeling Specialist',
 'Job||Job Opening For AI Technologist - Data Scientist at Wipro Holmes',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Data scientist _Tata Consultancy Services(Tcs)',
 'Data Science Senior Analyst',
 'Hiring For DATA Scientist @ NTT DATA Business Solution India',
 'Data Scientist/Analyst',
 'Lead/Principal Data Scientist (ML, DL, Computer Vision)',
 'Data Scientist - II',
 'Distinguish Data Scientist']

In [126]:
#now scarping all the job_locations finally  
job_location=[]

job_tags= driver2.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span[1]')
job_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="f1f9c342-1c86-4dbd-8335-424550e561a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="005853f3-4b8f-4cb7-a33a-d49b259efa05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="7dd3da2d-faa1-4829-b1b4-354fd5566244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="8f45466d-06dc-4472-81cd-7c2ed4c77377")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="829a818a-ed28-4b8a-ae4b-50f4bee2325e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="5a97d408-67e6-4948-bf3d-ff39e7cbef24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="fa78575c-5dbc-43bd-aac8-7c569248fafc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="81fc550b-ee12-42cd-92fc-21e5d4aaf461")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="35cd3508-21a4-47d2-8973-a7d4aabcb40a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e978a3441f8e5e87d48fa32f0250e5e", element="44521c57-bc7a-4f1d-9b30-1972f0cea3e4")>]

In [127]:
# converting all the location into text
for i in job_tags:
    jobs=i.text
    job_location.append(jobs)
job_location[0:10]

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Cochin, Mumbai',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Kochi/Cochin, Indore, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Pune, Delhi / NCR',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

so we have got all the 10 job locations here

In [128]:
#creating a Dataframe here 
naukri_data_science=pd.DataFrame({})
naukri_data_science['companies']=co_names
naukri_data_science['job_titles']=job_title2
naukri_data_science['location']=job_location
naukri_data_science[0:10]

,companies,job_titles,location
0,Accenture,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Wipro,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu..."
2,Wipro,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
3,TATA CONSULTANCY SERVICES (TCS),Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New..."
4,Accenture,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
5,NTT DATA Business Solutions Private Limited,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
6,Wipro,Data Scientist/Analyst,"Bangalore/Bengaluru, Pune, Delhi / NCR"
7,HERE Technologies,"Lead/Principal Data Scientist (ML, DL, Compute...","Bangalore/Bengaluru, Mumbai"
8,SMARTPADDLE TECHNOLOGY PVT. LTD.,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)"
9,Schneider Electric,Distinguish Data Scientist,Bangalore/Bengaluru

Thus we have extracted the 10 data columns for the role Data scientist from naukri.com

### Q3- You have to use the location and salary filter.
#### You have to scrape data for “Data Scientist” designation for first 10 job results.
#### You have to scrape the job-title, job-location, company name, experience required.
#### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [27]:
#command for open the automation window of browser 
driver3 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")
time.sleep(5)

In [28]:
#now we are opening the required website page in it 
driver3.get('https://www.naukri.com/')

In [29]:
#now checking for the position which is required to search here ex-data anlyst
search_feild_designation= driver3.find_element_by_class_name('suggestor-input')
search_feild_designation.send_keys('Data scientist')

In [30]:
#now we will find the element for the search button, to click and search for the desired results 

search_button= driver3.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [31]:
#checking the checkbox 
loc_check_box = driver3.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span').click()
time.sleep(7)
sal_check_box = driver3.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i').click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span"}
  (Session info: chrome=103.0.5060.134)
Stacktrace:
Backtrace:
	Ordinal0 [0x00EE6463+2188387]
	Ordinal0 [0x00E7E461+1762401]
	Ordinal0 [0x00D93D78+802168]
	Ordinal0 [0x00DC1880+989312]
	Ordinal0 [0x00DC1B1B+989979]
	Ordinal0 [0x00DEE912+1173778]
	Ordinal0 [0x00DDC824+1099812]
	Ordinal0 [0x00DECC22+1166370]
	Ordinal0 [0x00DDC5F6+1099254]
	Ordinal0 [0x00DB6BE0+945120]
	Ordinal0 [0x00DB7AD6+948950]
	GetHandleVerifier [0x011871F2+2712546]
	GetHandleVerifier [0x0117886D+2652765]
	GetHandleVerifier [0x00F7002A+520730]
	GetHandleVerifier [0x00F6EE06+516086]
	Ordinal0 [0x00E8468B+1787531]
	Ordinal0 [0x00E88E88+1805960]
	Ordinal0 [0x00E88F75+1806197]
	Ordinal0 [0x00E91DF1+1842673]
	BaseThreadInitThunk [0x761B6739+25]
	RtlGetFullPathName_UEx [0x770A8FEF+1215]
	RtlGetFullPathName_UEx [0x770A8FBD+1165]

In [32]:
#scraping the job-titles
#creating empty list for storage
job_profiles = []
companies = []
experiences = []
salaries = []
locations = []

job_profile=driver3.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/a")[0:10]

company=driver3.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/div/a[1]")[0:10]

experience=driver3.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[1]")[0:10]

salary = driver3.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[2]/span")[0:10]

location = driver3.find_elements_by_xpath("//*[@id='root']/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[3]/span")[0:10]
#fetching  all  the  code  data  from  paths  as text  using multiple  for loops
for job in job_profile:
    job_profiles.append(job.text)   # for job-title
    
for comp in company:
    companies.append(comp.text)   # for companies

for exp in experience:
    experiences.append(exp.text)  # for experiences
    
for sal in salary:
    salaries.append(sal.text)  #  for salary
    
for loc in location:
    locations.append(loc.text)  # for locations

job_df=pd.DataFrame({'Job_Profile':job_profiles,
                         'Company':companies,
                         'Experience':experiences,
                         'Salary':salaries,
                         'Location':locations})
job_df

,Job_Profile,Company,Experience,Salary,Location
0,Data scientist _Tata Consultancy Services(Tcs),TATA CONSULTANCY SERVICES (TCS),9-14 Yrs,Not disclosed,"Kochi/Cochin, Indore, New Delhi, Hyderabad/Sec..."
1,Data Science Senior Analyst,Accenture,2-5 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
2,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,4-9 Yrs,"18,00,000 - 20,00,000 PA.","Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
3,Data Scientist/Analyst,Wipro,5-8 Yrs,Not disclosed,"Pune, Bangalore/Bengaluru, Delhi / NCR"
4,Data Scientist - II,SMARTPADDLE TECHNOLOGY PVT. LTD.,3-6 Yrs,Not disclosed,(WFH during Covid)
5,Urgent Job Opening For AI Practitioner - Data ...,Wipro,11-21 Yrs,Not disclosed,"India, Bangalore/Bengaluru, Mumbai (All Areas)"
6,Cloud Datascience Engineer,Oracle,9-14 Yrs,Not disclosed,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ..."
7,Data Scientist,Applied Materials,4-7 Yrs,Not disclosed,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
8,ACN - Applied Intelligence - Data Scientist - 09,Accenture,2-6 Yrs,Not disclosed,Bangalore/Bengaluru
9,Junior Data Scientist,Accenture,2-6 Yrs,Not disclosed,Bangalore/Bengaluru

#### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [59]:
#command for opening the automation window 
driver4 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")
time.sleep(2)

In [60]:
#now the automation page is opened now , we are opening the required website page in it 
driver4.get('http://www.flipkart.com/')

In [61]:
#now checking for the sunglasses @flipkart search box
search_feild_designation= driver4.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_feild_designation.send_keys('sunglasses')

In [63]:
#now we will be using the click search item to search for sunglasses here 
fp_buttons= driver4.find_element_by_class_name('L0Z3Pu')
fp_buttons.click()

In [64]:
#now we will be scraping the brand product description and price 
fp_brand =[]
fp_descr=[]
fp_price=[]
brand_tags= driver4.find_elements_by_class_name('_2WkVRV')
descr_tags= driver4.find_elements_by_class_name('IRpwTa')
price_tags=driver4.find_elements_by_xpath('//div[@class="_30jeq3"]')

#using the loop to get all the brands from the 1st page 
for i in brand_tags:
    brand=i.text
    fp_brand.append(brand)
for i in descr_tags:
    descr=i.text
    fp_descr.append(descr)
for i in price_tags:
    price=i.text
    fp_price.append(price)
import pandas as pd    
page1= pd.DataFrame({})
page1['brand_Name']=fp_brand
page1['product-description']=fp_descr
page1['Prices of products']=fp_price
page1[0:40]

,brand_Name,product-description,Prices of products
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,120"
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,120"
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹197
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹265
4,PIRASO,UV Protection Aviator Sunglasses (58),₹319
5,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹268
6,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799
7,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹381
8,Elligator,UV Protection Round Sunglasses (54),₹298
9,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹246
10,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹299
11,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)",₹999
12,PIRASO,UV Protection Aviator Sunglasses (54),₹211
13,GANSTA,"Gradient, UV Protection Retro Square Sunglasse...",₹198
14,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹185
15,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹719
16,NuVew,UV Protection Sports Sunglasses (62),₹291
17,IZAAN MART,UV Protection Rectangular Sunglasses (55),₹290
18,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹265
19,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹759
20,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719
21,funglasses,"UV Protection, Night Vision, Riding Glasses Ro...",₹199
22,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...",₹265
23,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹899
24,PIRASO,UV Protection Retro Square Sunglasses (52),₹272
25,PIRASO,UV Protection Wayfarer Sunglasses (32),₹214
26,PIRASO,UV Protection Aviator Sunglasses (54),₹211
27,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹311
28,PIRASO,UV Protection Aviator Sunglasses (54),₹219
29,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹179
30,CRYSTAL CART,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹189
31,VINCENT CHASE,by Lenskart UV Protection Rectangular Sunglass...,₹799
32,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499
33,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719
34,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349
35,VINCENT CHASE,by Lenskart UV Protection Wayfarer Sunglasses ...,₹799
36,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹443
37,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹381
38,Hamiw,"UV Protection, Riding Glasses Round Sunglasses...",₹249
39,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹719

In [55]:
#now wrirting the code for the next button 
next_page2= driver4.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page2.click()

In [56]:
#now scraping data from page 2 
fp_brand2=[]
fp_descr2=[]
fp_price2=[]
#extracting the data from the 2nd page 
brands_tags2= driver4.find_elements_by_class_name('_2WkVRV')
descr_tags2= driver4.find_elements_by_class_name('IRpwTa')
price_tags2= driver4.find_elements_by_xpath('//div[@class="_30jeq3"]')

#calling it inside a loop with same list
for i in brands_tags2:
    tags2=i.text
    fp_brand2.append(tags2)
for i in descr_tags2:
    descr2=i.text
    fp_descr2.append(descr2)
for i in price_tags2:
    price2=i.text
    fp_price2.append(price2)
#data for the 2nd page
#creating a Dataframe
page2 = pd.DataFrame({})
page2['brand_Name']=fp_brand2
page2['product-description']=fp_descr2
page2['Prices of products']=fp_price2
page2[0:40]

,brand_Name,product-description,Prices of products
0,CRYSTAL CART,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹189
1,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499
2,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349
3,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹719
4,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹443
5,Hamiw,"UV Protection, Riding Glasses Round Sunglasses...",₹249
6,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹381
7,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...",₹899
8,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹220
9,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379
10,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹288
11,VINCENT CHASE,UV Protection Rectangular Sunglasses (52),₹649
12,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499
13,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹729
14,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...",₹424
15,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...",₹424
16,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹268
17,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹213
18,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),₹319
19,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",₹639
20,SRPM,UV Protection Wayfarer Sunglasses (50),₹211
21,CRYSTAL CART,"Polarized, UV Protection, Mirrored, Gradient R...",₹529
22,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹307
23,AISLIN,UV Protection Wayfarer Sunglasses (58),₹573
24,Fastrack,UV Protection Round Sunglasses (52),₹909
25,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...",₹559
26,PIRASO,UV Protection Aviator Sunglasses (55),₹232
27,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹719
28,ROYAL SON,Polarized Rectangular Sunglasses (60),₹559
29,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹899
30,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹299
31,AISLIN,"UV Protection, Gradient Butterfly, Over-sized ...",₹540
32,kingsunglasses,"UV Protection, Mirrored Aviator Sunglasses (Fr...",₹269
33,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹219
34,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189
35,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (52)",₹559
36,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719
37,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹341
38,PIRASO,UV Protection Over-sized Sunglasses (65),₹399
39,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹559

In [57]:
next_page3= driver4.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_page3.click()

In [58]:
fp_brand3=[]
fp_descr3=[]
fp_price3=[]
#now we willbe finding the elemnts from the webpage 
brand_tags3=driver4.find_elements_by_class_name('_2WkVRV')
descr_tags3=driver4.find_elements_by_class_name('IRpwTa')
price_tags3=driver4.find_elements_by_xpath('//div[@class="_30jeq3"]')

#converting the data into text

for i in brand_tags3:
    tagno=i.text
    fp_brand3.append(tagno)
for i in descr_tags3:
    descr3=i.text
    fp_descr3.append(descr3)
for i in price_tags3:
    price3=i.text
    fp_price3.append(price3)
#now we are creating Dataframe for the 3rd page 
page3 = pd.DataFrame({})
page3['brand_Name']=fp_brand3
page3['product-description']=fp_descr3
page3['Prices of products']=fp_price3
page3[0:40]

,brand_Name,product-description,Prices of products
0,ROYAL SON,UV Protection Retro Square Sunglasses (58),₹424
1,AISLIN,"UV Protection, Gradient Wayfarer, Clubmaster S...",₹422
2,SRPM,UV Protection Wayfarer Sunglasses (54),₹186
3,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649
4,Elligator,"Others Cat-eye, Retro Square, Wayfarer Sunglas...",₹216
5,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹849
6,ROYAL SON,UV Protection Retro Square Sunglasses (Free Size),₹424
7,NuVew,UV Protection Sports Sunglasses (69),₹289
8,GANSTA,"Riding Glasses, UV Protection Aviator Sunglass...",₹220
9,AISLIN,"UV Protection, Gradient Retro Square Sunglasse...",₹562
10,GANSTA,"UV Protection, Gradient Wayfarer Sunglasses (53)",₹279
11,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹339
12,AISLIN,"UV Protection, Gradient Aviator Sunglasses (61)",₹600
13,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹399
14,AISLIN,"UV Protection, Gradient Over-sized Sunglasses ...",₹398
15,ROYAL SON,UV Protection Retro Square Sunglasses (55),₹616
16,Ray-Ban,UV Protection Aviator Sunglasses (58),"₹9,349"
17,Ray-Ban,Polarized Aviator Sunglasses (62),"₹8,449"
18,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹719
19,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)",₹279
20,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹443
21,AISLIN,"UV Protection Oval, Aviator Sunglasses (58)",₹829
22,ROYAL SON,"UV Protection, Polarized Round Sunglasses (54)",₹559
23,ROYAL SON,"UV Protection, Polarized Wrap-around, Sports S...",₹854
24,Urbanic,Others Retro Square Sunglasses (Free Size),₹479
25,OAKLEY,Rectangular Sunglass,"₹6,469"
26,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹949
27,AISLIN,"UV Protection, Gradient Round, Cat-eye Sunglas...",₹443
28,IDEE,Gradient Round Sunglasses (58),"₹1,579"
29,ROYAL SON,UV Protection Round Sunglasses (55),₹559
30,ROZZETTA CRAFT,UV Protection Shield Sunglasses (Free Size),₹499
31,ROYAL SON,"UV Protection, Gradient Over-sized Sunglasses ...",₹664
32,ROYAL SON,"Polarized, UV Protection Round Sunglasses (52)",₹759
33,IDEE,"Gradient, UV Protection Round Sunglasses (49)","₹1,089"
34,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹260
35,ROYAL SON,"UV Protection, Gradient Over-sized Sunglasses ...",₹664
36,ARICKS,"Night Vision, Riding Glasses Rectangular Sungl...",₹199
37,Fastrack,Gradient Aviator Sunglasses (Free Size),"₹1,799"
38,AISLIN,"UV Protection, Gradient Cat-eye, Round Sunglas...",₹443
39,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379

In [65]:
#combining  allin one making  a one  dataframe  using the concat  function 
frames= [page1,page2,page3]
flipkart_glasses= pd.concat(frames,sort= False)
flipkart_glasses[0:100]

,brand_Name,product-description,Prices of products
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,120"
1,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (51)","₹1,120"
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹197
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹265
4,PIRASO,UV Protection Aviator Sunglasses (58),₹319
...,...,...,...
15,ROYAL SON,UV Protection Retro Square Sunglasses (55),₹616
16,Ray-Ban,UV Protection Aviator Sunglasses (58),"₹9,349"
17,Ray-Ban,Polarized Aviator Sunglasses (62),"₹8,449"
18,ROYAL SON,"Polarized, UV Protection Retro Square Sunglass...",₹719
19,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)",₹279

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [66]:
#command for opening the automation window 

driver5 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")
time.sleep(2)

In [67]:
driver5.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [68]:
#for showing all the elements or for expanding the neccessary elements 
show_all_review_button = driver5.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div')
show_all_review_button.click()

In [69]:
#Checking the first review to study its structure
reviews = driver5.find_elements_by_class_name('_2wzgFH')
a =reviews[0].text.split('\n')

In [70]:
a

['5',
 'Simply awesome',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Flipkart Customer',
 'Certified Buyer, Mokokchung',
 'Nov, 2020',
 '136591801']

In [71]:
def iPhoneReviewScrapper():
    '''This function scrapes all the iPhone reviews from Flipkarts and then goes to the next page by clicking the Next button'''
    rating = []
    summary = []
    review = []
    
    reviewList = driver5.find_elements_by_class_name('_2wzgFH')
    for index in range(len(reviewList)):
        reviewItems = reviewList[index].text.split('\n')
        rating.append(reviewItems[0])
        summary.append(reviewItems[1])
        review.append(' '.join(reviewItems[2:(len(reviewItems)-4)]).replace('  ', ' '))
    
    #Clicking the next button and waiting for 2 seconds
    try:
        #This block is for page 2 and subsiquent pages where there is 'Previous' and 'Next' buttons both of which
        #have the class '_1LKTO3'
        driver5.find_elements_by_class_name('_1LKTO3')[1].click()
    except:
        #This exception block is for the first page only where there is only 'Next' button
        driver5.find_element_by_class_name('_1LKTO3').click()
    
    time.sleep(2)
        
    return rating, summary, review

In [72]:
#Scrapping iPhone reviews for the first 10 pages

time.sleep(2)

iPhoneRating = []
iPhoneSummary = []
iPhoneReview = []

for index in range(0, 10):
    r, s, re = iPhoneReviewScrapper()
    iPhoneRating.extend(r)#here we have used extend function to add the data stored in the lists
    iPhoneSummary.extend(s)
    iPhoneReview.extend(re)
    print(f'Review Page {index+1} scrapped')

Review Page 1 scrapped
Review Page 2 scrapped
Review Page 3 scrapped
Review Page 4 scrapped
Review Page 5 scrapped
Review Page 6 scrapped
Review Page 7 scrapped
Review Page 8 scrapped
Review Page 9 scrapped
Review Page 10 scrapped

In [73]:
#Making a dataframe of all reviews

iPhoneReviewsDf = pd.DataFrame()

iPhoneReviewsDf['Review Title'] = iPhoneSummary
iPhoneReviewsDf['Rating'] = iPhoneRating
iPhoneReviewsDf['Full Review'] = iPhoneReview

iPhoneReviewsDf

,Review Title,Rating,Full Review
0,Simply awesome,5,Really satisfied with the Product I received.....
1,Perfect product!,5,Amazing phone with great cameras and better ba...
2,Best in the market!,5,Great iPhone very snappy experience as apple k...
3,Highly recommended,5,What a camera .....just awesome ..you can feel...
4,Worth every penny,5,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,Super!,5,Did an upgrade from 6s plus to iphone 11. Ao f...
96,Classy product,5,Gifted my man on his 30th birthday 🎂 He loves ...
97,Fabulous!,5,Gift this to your loved ones fabulous product ...
98,Mind-blowing purchase,5,awesome Phone Smooth Touch Too good Sexyy look...
99,Excellent,5,A perfect phone and a good battery super camer...

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [74]:
#command for opening the automation window 

driver6 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")
time.sleep(2)

In [75]:
# opening the flipkart website here 
driver6.get('https://www.flipkart.com/')

In [77]:
#now initiating the search button for the search of the required data here in the window 
search_feild_flip= driver6.find_element_by_class_name('_3704LK')
search_feild_flip.send_keys('sneakers')

In [78]:
#now initiating the search button to search for the product in the window 
search_fp_button= driver6.find_element_by_class_name("L0Z3Pu")
search_fp_button.click()

In [80]:
shoe_brands=[]
#here we created a empty list for the storage 
for i in range(0,3):
    brands_tags= driver6.find_elements_by_class_name('_2WkVRV')

#so now when extracted the data now we will changing it to text and iterate over the for loop
    for i in brands_tags:
        brand_flip=i.text
        shoe_brands.append(brand_flip)
    fwd_buttons = driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    fwd_buttons.click()
    time.sleep(5)

In [81]:
brandsframe= pd.DataFrame({})
brandsframe['brandname']=shoe_brands
brandsframe

       brandname
0       Magnolia
1           PUMA
2           PUMA
3        Favshoe
4           PUMA
..           ...
115       DUCATI
116        SPARX
117         PUMA
118         PUMA
119  SiR CORBETT

[120 rows x 1 columns]

In [82]:
shoe_description=[]

#here we created a empty list for the storage 

for i in range(0,3):
    shoe_destag= driver6.find_elements_by_class_name('IRpwTa')

#so now when extracted the data now we will changing it to text and iterate over the for loop
    
    for i in shoe_destag:
        shoe_tag=i.text
        shoe_description.append(shoe_tag)
    
    fwd_buttons= driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    fwd_buttons.click()
    time.sleep(5)

In [83]:
descrdataframe = pd.DataFrame({})
descrdataframe['Shoes_description']=shoe_description
descrdataframe

                                     Shoes_description
0    Fashion Outdoor Canvas Casual Light Weight Lac...
1                 Ferrari Drift Cat 8 Sneakers For Men
2                                     Sneakers For Men
3         Sneakers For Men ( Yellow ) Sneakers For Men
4                                     Sneakers For Men
..                                                 ...
115                                   Sneakers For Men
116                     RS-Z Multi FS Sneakers For Men
117                         Club 1948 Sneakers For Men
118  Men High Top Fashion Sneakers/sports/Ankle cas...
119           ultra light Comfertable Sneakers For Men

[120 rows x 1 columns]

In [84]:
shoe_price=[]
#here we created a empty list for the storage 
for i in range(0,3):
    price_shoetag= driver6.find_elements_by_class_name('_30jeq3')
#so now when extracted the data now we will changing it to text and iterate over the for loop
 
    for i in price_shoetag:
        prices_shoes=i.text
        shoe_price.append(prices_shoes)
    fwd_buttons= driver6.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    fwd_buttons.click()
    time.sleep(5)

In [85]:
priceframe=pd.DataFrame({})
priceframe['Shoe-prices']=shoe_price
priceframe

    Shoe-prices
0        ₹2,999
1        ₹2,259
2          ₹999
3          ₹539
4        ₹1,189
..          ...
130      ₹2,269
131      ₹1,799
132        ₹402
133      ₹1,609
134        ₹499

[135 rows x 1 columns]

In [86]:
# joining  the  2 frames  in one 
df5 = brandsframe[0:120].join(descrdataframe)
df5

       brandname                                  Shoes_description
0       Magnolia  Fashion Outdoor Canvas Casual Light Weight Lac...
1           PUMA               Ferrari Drift Cat 8 Sneakers For Men
2           PUMA                                   Sneakers For Men
3        Favshoe       Sneakers For Men ( Yellow ) Sneakers For Men
4           PUMA                                   Sneakers For Men
..           ...                                                ...
115       DUCATI                                   Sneakers For Men
116        SPARX                     RS-Z Multi FS Sneakers For Men
117         PUMA                         Club 1948 Sneakers For Men
118         PUMA  Men High Top Fashion Sneakers/sports/Ankle cas...
119  SiR CORBETT           ultra light Comfertable Sneakers For Men

[120 rows x 2 columns]

In [87]:
#here is the final join for the result since its not useful to show result so results here
#is closed
df6= priceframe[0:120].join(df5)

In [88]:
df6[0:100]
#thus we have scraped all the 100 data from the flipkart website

   Shoe-prices brandname                                  Shoes_description
0       ₹2,999  Magnolia  Fashion Outdoor Canvas Casual Light Weight Lac...
1       ₹2,259      PUMA               Ferrari Drift Cat 8 Sneakers For Men
2         ₹999      PUMA                                   Sneakers For Men
3         ₹539   Favshoe       Sneakers For Men ( Yellow ) Sneakers For Men
4       ₹1,189      PUMA                                   Sneakers For Men
..         ...       ...                                                ...
95      ₹1,900     Ardeo  ultra light Comfertable Slip-On and lace-ups c...
96        ₹919      PUMA                                    Slip On For Men
97        ₹777  Skechers  Platform Chunky Trainer/Sneakers -EBONY Mid To...
98        ₹715      PUMA               casual shoe for men Sneakers For Men
99      ₹3,199     ASIAN                                   Sneakers For Men

[100 rows x 3 columns]

### Q7: Go to the link - https://www.myntra.com/shoes then set Price filter to “Rs. 7149 to Rs. 14099 ”and Color filter to “Black”, And then scrape First 100 shoes data you get. 
#### The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [89]:
#command for opening the automation window 

driver7 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")
time.sleep(2)

In [90]:
driver7.get('https://www.myntra.com/shoes')

In [91]:
#applying the colours filter of black
driver7.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]').click()

time.sleep(2)

In [92]:
#applying the price filter here of “Rs. 7149 to Rs. 14099 ” 
driver7.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()

In [93]:
#Getting page 1 shoe informations
time.sleep(2)
page1shoes = driver7.find_elements_by_class_name('product-productMetaInfo')
len(page1shoes)
#this is the metadata and metavariable which will be used till last for extractions.

50

In [94]:
pg1 = page1shoes[0].text.split('\n')
pg1

['Nike', 'Men React Infinity 3 Running', 'Rs. 11895Rs. 13995(15% OFF)']

In [95]:
pg1[2].split('Rs.')[1].replace(' ', ' ')

' 11895'

In [96]:
#making three empty list and adding the brand, description and price information there and we will
#append this for all the pages to store evrything in one list
brand = []
shortDesc = []
price = []

for index in range(len(page1shoes)):
    print(f'Getting Product {index+1}')
    shoeInfo = page1shoes[index].text.split('\n')
    brand.append(shoeInfo[0])
    shortDesc.append(shoeInfo[1])
    price.append(shoeInfo[2].split('Rs.')[1].replace(' ', ''))
    print(f'Done for Product {index+1}')

Getting Product 1
Done for Product 1
Getting Product 2
Done for Product 2
Getting Product 3
Done for Product 3
Getting Product 4
Done for Product 4
Getting Product 5
Done for Product 5
Getting Product 6
Done for Product 6
Getting Product 7
Done for Product 7
Getting Product 8
Done for Product 8
Getting Product 9
Done for Product 9
Getting Product 10
Done for Product 10
Getting Product 11
Done for Product 11
Getting Product 12
Done for Product 12
Getting Product 13
Done for Product 13
Getting Product 14
Done for Product 14
Getting Product 15
Done for Product 15
Getting Product 16
Done for Product 16
Getting Product 17
Done for Product 17
Getting Product 18
Done for Product 18
Getting Product 19
Done for Product 19
Getting Product 20
Done for Product 20
Getting Product 21
Done for Product 21
Getting Product 22
Done for Product 22
Getting Product 23
Done for Product 23
Getting Product 24
Done for Product 24
Getting Product 25
Done for Product 25
Getting Product 26
Done for Product 26
Getting Product 27
Done for Product 27
Getting Product 28
Done for Product 28
Getting Product 29
Done for Product 29
Getting Product 30
Done for Product 30
Getting Product 31
Done for Product 31
Getting Product 32
Done for Product 32
Getting Product 33
Done for Product 33
Getting Product 34
Done for Product 34
Getting Product 35
Done for Product 35
Getting Product 36
Done for Product 36
Getting Product 37
Done for Product 37
Getting Product 38
Done for Product 38
Getting Product 39
Done for Product 39
Getting Product 40
Done for Product 40
Getting Product 41
Done for Product 41
Getting Product 42
Done for Product 42
Getting Product 43
Done for Product 43
Getting Product 44
Done for Product 44
Getting Product 45
Done for Product 45
Getting Product 46
Done for Product 46
Getting Product 47
Done for Product 47
Getting Product 48
Done for Product 48
Getting Product 49
Done for Product 49
Getting Product 50
Done for Product 50

In [97]:
page1shoes[0].text.replace('','')

'Nike\nMen React Infinity 3 Running\nRs. 11895Rs. 13995(15% OFF)'

In [98]:
driver7.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a').click()

In [99]:
#Getting page 2 shoe informations and adding the brand,description and price information to ther existing list of brand,description and price
page2shoes = driver7.find_elements_by_class_name('product-productMetaInfo')

time.sleep(2)

for index in range(len(page2shoes)):
    shoeInfo = page2shoes[index].text.split('\n')
    brand.append(shoeInfo[0])
    shortDesc.append(shoeInfo[1])
    price.append(shoeInfo[2].split('Rs.')[1].replace(' ', ''))
    #here the idea is to extract all the 3 info from the meta class of the webpage 
    #and using the index giving them a right placement as we have done here

In [100]:
#Getting page 3 shoe informations and adding the brand,description and price information to ther existing list of brand,
#description and price

page3shoes = driver7.find_element_by_class_name('product-productMetaInfo').text.split('\n')

brand.append(page3shoes[0])
shortDesc.append(page3shoes[1])
price.append(page3shoes[2].split('Rs.')[1].replace(' ', ''))
#same as above for the page 3 too.

In [101]:
#making a dataframe with all shoes

myntraSneakersDf = pd.DataFrame()

myntraSneakersDf['Brand'] = brand
myntraSneakersDf['Price'] = price
myntraSneakersDf['Description'] = shortDesc

myntraSneakersDf[0:100] 
#need only 100 so giving range till 100 index records to show

      Brand  Price                               Description
0      Nike  11895              Men React Infinity 3 Running
1      Nike  13995                Men KD 15 Basketball Shoes
2      Nike   8895               Men SRG 3 FK Training Shoes
3      Nike   7560            Men Zoom C Pro HC Tennis Shoes
4      Nike   8920            Women React MR 3 Running Shoes
..      ...    ...                                       ...
95  Saint G   9810                     Leather Block Sandals
96     Puma   7999                Women Run XX Nitro Running
97     Puma   7499               Unisex KING Pro 21 Football
98    ASICS   7999                GEL-Pulse 13 Running Shoes
99  Bugatti   7199  Men Textured Leather High-Top Flat Boots

[100 rows x 3 columns]

### Q8: Go to webpage https://www.amazon.in/ , Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” .
#### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [102]:
#command for opening the automation window 
driver8 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")

In [103]:
#loaded the website in the window 
driver8.get('https://www.amazon.in/')

In [104]:
#filling the search bar
driver8.find_element_by_xpath('//*[@id="twotabsearchtextbox"]').send_keys('Laptop')

In [105]:
#search button for searching
#clicking the search button
driver8.find_element_by_xpath('//*[@id="nav-search-submit-button"]').click()

In [106]:
#applying the filters now of core i7 here 
filter1 = driver8.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i').click()

In [107]:
#now we will extract the info according to i7 core  
icore7_title =[]
i7 = driver8.find_elements_by_xpath( "//span[@class='a-size-medium a-color-base a-text-normal']")
i7[0:10]
for i in i7:
    icore=i.text
    icore7_title.append(icore)
    
core_title=icore7_title[:10]
core_title

['Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'HP Pavilion, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Display/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021/1.41kg, 14-eh0024TU',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms) WQHD 165Hz/3ms, Intel Core i7-12650H 12th Gen, RTX 3070 8GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 11/Office 2021/Black/2 kg), FX517ZR-HQ030WS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W',
 'Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th Gen 14" (35.56cm) 2.2K IPS Thin & Light Laptop (16GB/512GB SSD/Win11/Office 2021/Backlit/3Yr Warranty/3months Game Pass/Storm Grey/1.38Kg), 82L3006YIN',
 'HP Envy 11th Gen Intel Evo Core i7 14 inch(35.6 cm) WUXGA Anti-Glare Display 2-in-1 Laptop(16GB RAM/1TB SSD/GTX 1650 4GB Graphics/400 nits/Win 11/MS Office/FPR/B&O/Alexa Built-in/1.59 Kg), 14-eb0021TX']

In [108]:
icore_prices=[]
i7_pricetag=driver8.find_elements_by_class_name('a-price-whole')
i7_pricetag[0:10]
for i in i7_pricetag:
    prices_tag=i.text.strip('[]')
    icore_prices.append(prices_tag)
prices=icore_prices[0:10]
prices

['82,420',
 '89,990',
 '56,690',
 '1,64,990',
 '86,990',
 '76,492',
 '79,990',
 '87,500',
 '1,09,990',
 '75,290']

In [109]:
#Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [114]:
#locating Ratings
urls=driver8.find_elements_by_xpath("//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")#collecting urls of all the laptop
UR=[]
Ratings=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver8.get(url)
    try:                  #exception handling for nosuchelementexception                                               #click the rating link found
        rating=driver8.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")#locating the rating
        Ratings.append(rating.text)#appending the ratings in Ratings list
        
    except NoSuchElementException:
        Ratings.append("NO rating")#appending the No rating if no rating is there

In [115]:
#creating the dataframe
laptop_df= pd.DataFrame({})
laptop_df['Title']=core_title
laptop_df['Price']=prices
laptop_df

                                               Title     Price
0  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    82,420
1  HP Pavilion, 12th Gen Intel Core i7 16GB RAM/1...    89,990
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    56,690
3  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...  1,64,990
4  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    86,990
5  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    76,492
6  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    79,990
7  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...    87,500
8  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...  1,09,990
9  HP Envy 11th Gen Intel Evo Core i7 14 inch(35....    75,290

### Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location.
#### You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [52]:
#command for opening the automation window 

driver9 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")
time.sleep(2)

In [53]:
#opening the webpage 
driver9.get('https://www.ambitionbox.com/')

In [54]:
#for selecting what we want to search
jobs_button= driver9.find_element_by_xpath('//a[@class="navItemLink"]')
jobs_button.click()

In [55]:
#Finding element for job search bar
search_g= driver9.find_element_by_xpath('//*[@id="jobs-typeahead"]/span/input') 
search_g.send_keys('Data Scientist')

In [56]:
search_button=driver9.find_element_by_xpath('//*[@id="jobs"]/div[2]/div[1]/div[1]/div/div/div/button/span')
search_button.click()

In [57]:
#now finding the locarion from the drop down menu 
location_menu= driver9.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[1]/p')
location_menu.click()

In [58]:
loc_searchbox= driver9.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input')
loc_searchbox.send_keys('Noida')

In [59]:
#for the click on the,noida    
selection_box= driver9.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [60]:
job_titles=[]
company_names=[]

In [61]:
#So lets extract all the tags having the job-titles
titles_tags=driver9.find_elements_by_xpath("//a[@class='title noclick']")
titles_tags[0:10]
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:10]
#here we have got all the titles

['EY - Data Engineer - Data Integration/Modeling (3-8 yrs)',
 'Senior Data Scientist',
 'Data Scientist Intern',
 'Data Scientist- Forecasting and R or Python',
 'Data Scientist - Machine Learning Algorithms (3-8 yrs)',
 'LatentBridge - Data Scientist - Python/R (2-6 yrs)',
 'Data Scientist - Machine Learning/Big Data (0-4 yrs)',
 'Info Edge - Data Scientist - Machine Learning/NLP (0-2 yrs)',
 'Info Edge - Senior Data Scientist - Machine Learning/Deep Learning (3-5 yrs)',
 'Data Scientist - MIND Infotech']

In [62]:
#So lets extract all the tags having the company names
companies_tags=driver9.find_elements_by_xpath("//p[@class='company body-medium']")
companies_tags[0:10]
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]
#here we have got all the company names

['EY',
 'Optum Global Solutions (India) Private Limited',
 'CARE HEALTH INSURANCE LIMITED',
 'GENPACT India Private Limited',
 'Dew Solutions Pvt. Ltd.',
 'Latent bridge',
 'InfoEdge India Ltd.',
 'Info Edge India Limited',
 'Info Edge India Limited',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED']

In [63]:
#find the all the ratings of the comapany
company_ratings=[]
rate_tags= driver9.find_elements_by_class_name("body-small")
for i in rate_tags:
    com_rate=i.text
    company_ratings.append(com_rate)
company_ratings

['3.9', '4.1', '4.0', '4.0', '4.3', '4.5', '3.9', '3.9', '3.9', '3.3']

In [64]:
#days ago the job was beings posted here 
postings_ago=[]
ago_tags= driver9.find_elements_by_xpath(" //div[@class='other-info']/span[1]" )

for i in ago_tags:
    ago_date=i.text
    postings_ago.append(ago_date)
post_day=postings_ago[:10]
post_day

['8d ago',
 '26d ago',
 '13d ago',
 '1mon ago',
 '11d ago',
 '17d ago',
 '1mon ago',
 '1mon ago',
 '1mon ago',
 '7d ago']

In [65]:
#now we are creating a single dataframe for all the above extracted items 
ambition_df = pd .DataFrame({})
ambition_df['Name_of_companies']=company_names
ambition_df['Name of the role']=job_titles
ambition_df['Ratings given']=company_ratings
ambition_df['Days ago posted']=post_day
ambition_df[0:10]

,Name_of_companies,Name of the role,Ratings given,Days ago posted
0,EY,EY - Data Engineer - Data Integration/Modeling...,3.9,8d ago
1,Optum Global Solutions (India) Private Limited,Senior Data Scientist,4.1,26d ago
2,CARE HEALTH INSURANCE LIMITED,Data Scientist Intern,4.0,13d ago
3,GENPACT India Private Limited,Data Scientist- Forecasting and R or Python,4.0,1mon ago
4,Dew Solutions Pvt. Ltd.,Data Scientist - Machine Learning Algorithms (...,4.3,11d ago
5,Latent bridge,LatentBridge - Data Scientist - Python/R (2-6 ...,4.5,17d ago
6,InfoEdge India Ltd.,Data Scientist - Machine Learning/Big Data (0-...,3.9,1mon ago
7,Info Edge India Limited,Info Edge - Data Scientist - Machine Learning/...,3.9,1mon ago
8,Info Edge India Limited,Info Edge - Senior Data Scientist - Machine Le...,3.9,1mon ago
9,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Data Scientist - MIND Infotech,3.3,7d ago

### Q10: Write a python program to scrape the salary data for Data Scientist designation.
#### You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [129]:
#command for opening the automation window 

driver10 = webdriver.Chrome(r"C:\Users\lucky\Desktop\chromedriver")
time.sleep(2)

In [135]:
driver10.get('http://www.ambitionbox.com/')
#opening the website

In [136]:
salary_button= driver10.find_element_by_xpath('//*[@id="headerWrapper"]/nav[2]/div/ul/li[3]')
salary_button.click()
#for selecting what we want to search

In [137]:
search_g= driver10.find_element_by_xpath('//*[@id="homeSearch"]') 
search_g.send_keys('Data Scientist')

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=103.0.5060.134)
Stacktrace:
Backtrace:
	Ordinal0 [0x00576463+2188387]
	Ordinal0 [0x0050E461+1762401]
	Ordinal0 [0x00423C40+801856]
	Ordinal0 [0x0044CF63+970595]
	Ordinal0 [0x0044C63E+968254]
	Ordinal0 [0x0046C7DC+1099740]
	Ordinal0 [0x00447FF4+950260]
	Ordinal0 [0x0046C9F4+1100276]
	Ordinal0 [0x0047CC22+1166370]
	Ordinal0 [0x0046C5F6+1099254]
	Ordinal0 [0x00446BE0+945120]
	Ordinal0 [0x00447AD6+948950]
	GetHandleVerifier [0x008171F2+2712546]
	GetHandleVerifier [0x0080886D+2652765]
	GetHandleVerifier [0x0060002A+520730]
	GetHandleVerifier [0x005FEE06+516086]
	Ordinal0 [0x0051468B+1787531]
	Ordinal0 [0x00518E88+1805960]
	Ordinal0 [0x00518F75+1806197]
	Ordinal0 [0x00521DF1+1842673]
	BaseThreadInitThunk [0x75E36739+25]
	RtlGetFullPathName_UEx [0x77608FEF+1215]
	RtlGetFullPathName_UEx [0x77608FBD+1165]

In [138]:
#now we want to extract all the 10 comapny names here 
company_names=[]
co_nametag= driver10.find_elements_by_xpath('//div[@class="name"]/a')
for i in  co_nametag:
    com_name=i.text
    company_names.append(com_name)
company_names

['TCS\nData Scientist Salary',
 'Accenture\nData Scientist Salary',
 'IBM\nData Scientist Salary',
 'Cognizant\nData Scientist Salary',
 'Capgemini\nData Scientist Salary',
 'Infosys\nData Scientist Salary',
 'Tech Mahindra\nData Scientist Salary',
 'Wipro\nData Scientist Salary',
 'Deloitte\nData Scientist Salary',
 'Amazon\nData Scientist Salary']

In [139]:
#now we will scraping the min salary by the comapnies here 
salary_company=[]
sal_tagmin= driver10.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in sal_tagmin:
    sal_min=i.text
    salary_company.append(sal_min)
    salary_min=salary_company[0:10]
    
    #This is the list for the average salary
salary_avg=[]    
sal_tagavg= driver10.find_elements_by_class_name('averageCtc')
for i in sal_tagavg:
    sal_avg=i.text
    salary_avg.append(sal_avg)
print(salary_company)
print(salary_avg)

['₹ 3.2L', '₹ 16.0L', '₹ 9.5L', '₹ 41.0L', '₹ 3.1L', '₹ 18.7L', '₹ 11.0L', '₹ 49.0L', '₹ 3.0L', '₹ 19.7L', '₹ 3.3L', '₹ 7.5L', '₹ 7.0L', '₹ 14.0L', '₹ 2.0L', '₹ 13.0L', '₹ 1.8L', '₹ 11.8L']
['₹ 7.0L', '₹ 20.4L', '₹ 7.0L', '₹ 24.0L', '₹ 8.1L', '₹ 5.5L', '₹ 7.3L', '₹ 4.8L', '₹ 3.5L']

In [140]:
#now we will find the max salary of the employees
salary_max=[]
sal_tagmax= driver10.find_elements_by_xpath('//div[@class="value body-medium"]')
for i in sal_tagmax:
    tag_max=i.text
    salary_max.append(tag_max)
salary_max
max_salary= (salary_max[1:11])
max_salary

['₹ 16.0L',
 '₹ 9.5L',
 '₹ 41.0L',
 '₹ 3.1L',
 '₹ 18.7L',
 '₹ 11.0L',
 '₹ 49.0L',
 '₹ 3.0L',
 '₹ 19.7L',
 '₹ 3.3L']

In [146]:
#now we will be fetching the experience here 
company_exp=[]
exp_tag= driver10.find_elements_by_xpath('//div[@class="sbold-list-header"]')
for i in exp_tag:
    com_exp=i.text.replace('\n','')
    company_exp.append(com_exp)
compny_exp= (company_exp[1:11])
compny_exp

['2-9 yrs exp',
 '2-9 yrs exp',
 '2-11 yrs exp',
 '2-10 yrs exp',
 '2-8 yrs exp',
 '2-7 yrs exp',
 '2-12 yrs exp',
 '2-9 yrs exp',
 '2-7 yrs exp',
 '1-10 yrs exp']

In [147]:
#now creating the Dataframe 
scientist_df = pd.DataFrame({})
scientist_df['Comapnay_names']=company_names
scientist_df['minimum_salary']=salary_min
#scientist_df['Average_salary']=salary_avg
scientist_df['Maximum_salary']=max_salary
scientist_df['Experiences_req']=compny_exp
scientist_df

,Comapnay_names,minimum_salary,Maximum_salary,Experiences_req
0,TCS\nData Scientist Salary,₹ 3.2L,₹ 16.0L,2-9 yrs exp
1,Accenture\nData Scientist Salary,₹ 16.0L,₹ 9.5L,2-9 yrs exp
2,IBM\nData Scientist Salary,₹ 9.5L,₹ 41.0L,2-11 yrs exp
3,Cognizant\nData Scientist Salary,₹ 41.0L,₹ 3.1L,2-10 yrs exp
4,Capgemini\nData Scientist Salary,₹ 3.1L,₹ 18.7L,2-8 yrs exp
5,Infosys\nData Scientist Salary,₹ 18.7L,₹ 11.0L,2-7 yrs exp
6,Tech Mahindra\nData Scientist Salary,₹ 11.0L,₹ 49.0L,2-12 yrs exp
7,Wipro\nData Scientist Salary,₹ 49.0L,₹ 3.0L,2-9 yrs exp
8,Deloitte\nData Scientist Salary,₹ 3.0L,₹ 19.7L,2-7 yrs exp
9,Amazon\nData Scientist Salary,₹ 19.7L,₹ 3.3L,1-10 yrs exp